body {
    background-color: rgb(217, 154, 251);
}
#demobox {
    background-color: #cfc ;
    padding: 10px ;
    border: 1px solid green ;
      }
body {
    display: block;
    margin: 8px;
    }
body {
    font-family: Helvetica, Verdana, Arial, "san serif";
    padding: 25px;
    font-size: 120%;
}

.box {
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, .2);
  }