body {
    background-color: rgb(217, 154, 251);}
#demobox {
    background-color: #cfc ;
    padding: 10px ;
    border: 1px solid green ;
      }
body {
    display: block;
    margin: 8px;
    }
body {
font-family: Helvetica, Verdana, Arial, "san serif";
}