body {
    font-family: Helvetica, Verdana, Arial, "san serif";
    background-color: purple;
    padding: 25px;
    font-size: 120%;
}

body {
    display: block;
    margin: 8px;
}

.button
{
    font-size: 13px;
    color:green;
}